@font-face {
  font-family: Bold;
  src: url(../font/Inter-UI-Bold.woff2);
}

@font-face {
  font-family: Medium;
  src: url(../font/Inter-UI-Medium.woff2);
}

@font-face {
  font-family: Regular;
  src: url(../font/Inter-UI-Regular.woff2);
}

@font-face {
  font-family: IuiaDsNc;
  src: url(../font/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2);
}
$font-family: -apple-system,
BlinkMacSystemFont,
"Inter UI",
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";
* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

$XS:     767px;   
$SM:     991px;  
$MD:    1024px;   
$XL:   1170px;     
@mixin responsive($width) {
  @media only screen and (max-width: $width) {
      @content;
  }
}

%dropdown {
	position: absolute;
	z-index: 1000;
	display: none;
	min-width: 10rem;
	padding: 0.5rem 0;
	margin: 0.125rem 0 0;
	font-size: 1rem;
	text-align: left;
	list-style: none;
	background-color: #fff;
	border: 1px solid #E9EEF2;
	border-radius: 0.5rem;
}
%dropdown__link {
	display: block;
	width: 80%;
	margin: auto;
	padding: 0.25rem 0.5rem;
	clear: both;
	color: #007bff;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
	border-radius: 0.25rem;
	font-weight: 600;
	text-decoration: none;
	font-size: 0.875rem;
	text-transform: capitalize;
	font-family: $font-family;
	cursor: pointer;
	&:active {
		color: #fff;
		text-decoration: none;
		background-color: #007bff;
	}
	&:hover,
	&:focus {
		color: #006fe6;
		text-decoration: none;
    background-color: #EEF2F5;
    transition: all .5s;
	}
}

.container {
  display: flex;
  @include responsive($SM){
    display: block;
    position: relative;
  }
}
.sidebar {
  max-width: 264px;
  background-color: #343a40;
  margin: 0;
  box-sizing: border-box;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1000;
  flex-shrink: 0;
  &::-webkit-scrollbar {
    display: none;
  }
  .logo {
    align-items: flex-start;
    width: 100%;
    flex-shrink: 0;
    padding-bottom: 1.5rem;
    .logo__page {
      display: inline-block;
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem;
      margin-right: 1.5rem;
      font-size: 1.25rem;
      line-height: inherit;
      white-space: nowrap;
      margin-bottom: 1.3rem;
    }
  }
  .main-sidebar {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom:  1.5rem;
    &__link {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.9);
      display: block;
      padding: 0.5rem 0rem;
      font-size: 1rem;
      text-transform: capitalize;
      font-weight: 500;
      line-height: 1.5rem;
      cursor: pointer;
      font-family: $font-family;
      .icon {
        float: right;
        transition: all .5s;
      }
    }
    &__item {
      list-style: none;
      position: relative;
      line-height: 1.7;
      .sub-menu {
        display: none;
        list-style: none; 
        .show {
          display: block;
        }
        .main-sidebar__link {
          color: rgba(255, 255, 255, 0.65);
          transition: all .1s;
          font-size: .875rem;
          font-family: inherit;
          padding-top: 0;
          padding-bottom: 0;
          &:hover {
            color: rgba(255, 255, 255, 0.9);
            transition: all .1s;
          }
        }
      }
      .main-sidebar__icon {
        position: absolute;
        right: 1rem;
        top: 1rem;
        color: rgba(255, 255, 255, 0.9);
      }
    }
  }
  .quicklinks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1.25rem 0rem 1.25rem;
    margin-right: 2rem;
    margin-bottom: 0;
    list-style: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    .disable {
      font-size: 0.875rem;
      color: rgba(255, 255, 255, 0.5) !important;
      padding-left: 0rem;
      letter-spacing: .85px;
      font-family: inherit;
      margin-bottom: 0.875rem;
    }
    .quicklink__item {
      line-height: 1.3125rem;
      text-transform: capitalize;
      .quicklink__link {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.65);
        display: block;
        padding: 0.2rem 0rem;
        font-size: 0.875rem;
        text-transform: capitalize;
        font-weight: 500;
        line-height: 1.5rem;
        cursor: pointer;
        transition: all .2s;
        font-family: inherit;
        &:hover {
          transition: all .2s;
          color: rgba(255, 255, 255, 0.9);
        }
      }
    }
  }
  .form-control {
    position: relative;
    margin-top: 1.5rem;
    .form-control__group {
      margin-top: -2rem;
      margin-bottom: 1rem;
      .form-control__input {
        display: inline-block;
        border-radius: 10rem 10rem 10rem 10rem;
        border-left: none;
        padding-left: 2.5rem;
        background: rgba(255, 255, 255, 0.1);
        border-color: rgba(255, 255, 255, 0);
        color: #000;
        height: calc(2.125rem + 2px);
        transition: all 0.15s;
        color: #fff;
        font-size: 0.875rem;
        box-sizing: border-box;
        &:focus {
          background: rgba(255, 255, 255, 0.1);
          border: 1px solid;
          border-color: #99caff;
          color: #fff;
          outline: none;
        }
      }
    }
    .btn.btn-search{
      display: inline-block;
      color: #fff;
      border-radius: 10rem 0 0 10rem;
      background: rgba(255, 255, 255, 0);
      border-color: rgba(255, 255, 255, 0);
      position: relative;
      top: 1.9rem;
      left: 0rem;
      font-size: 0.875rem;
      color: rgba(255, 255, 255, 0.5);
      border-right: none;
      padding-left: 1rem;
      cursor: pointer;
      box-sizing: border-box;
    }
    
    input::placeholder {
      color: #a6a9ab;
    }
    .btn.btn-select{
      padding: 10px 0;
      display: block;
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
      cursor: pointer;
      width: 100%;
      border: none;
      text-transform: capitalize;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 0.25rem;
      transition: all 0.15s;
      margin-bottom: 1.5rem !important;
      outline: none;
      &::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
        opacity: .5;
        transform: scaleX(0.8);
      }
      &:hover {
        color: #fff;
        background-color: #0069d9;
        border-color: #0062cc;
        transition: all .5s;
      }
    }
    .dropdown__item{
      &::after{
        display: none !important;
      }
      .dropdown__link {
        font-size: 0.875rem;
        font-weight: 600;
      }
    }
    @include responsive($SM) {
      margin-top: 1.5rem;
      .form-control__group {
        margin-top: 0;
        .btn.btn-search {
          top: 0;
          left: 1rem;
        }
        .form-control__input {
          margin-left: -1rem;
        }
      }
    }
  }
  .dropdown {
    top: 7rem;
    left: 0;
    float: left;
    color: #6c757d;
    background-clip: padding-box;
    @extend %dropdown;
    &__link {
      @extend %dropdown__link;
    }
  }
  .admin {
    position: relative;
    .admin-media {
      display: inline-block;
      background: url(../img/avatar-male-4.jpg) center no-repeat;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: none;
      background-size: cover;
      margin: 0;
    }
    .dropdown-menu {
      box-shadow: 0 0.1875rem 0.375rem rgba(33, 37, 41, 0.1);
      position: absolute;
      bottom: 3rem;
      left: 0;
      @extend %dropdown;
      .dropdown-menu__link {
        @extend %dropdown__link;
      }
    }
  }
  .navbar-toggler {
    display: none;
    cursor: pointer;
  }
  @include responsive($SM) {
    position: fixed;
    max-width: 100%;
    width: 100%;
    padding: 0.25rem 1.5rem;
    height: 55px;
    padding: 0.25rem 1.5rem;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
    box-sizing: border-box;
    .logo {
      width: 70%;
      padding-bottom: 0;
      &__page {
        padding-bottom: 0;
        margin: 0 !important;
      }
    }
    .navbar-main {
      background: #343a40;
      position: fixed;
      width: 264px;
      left:-272px;
      height: auto;
      top: 55px;
      overflow-y: auto;
      z-index: 10;
      padding-top: 1.5rem;
      padding-left: .5rem;
      padding-bottom: 1rem;
    }
    .admin {
      width: 30%;
      display: flex;
      justify-content: flex-end;
      .admin-media {
        margin-left: 0.75rem;
      }
      .navbar-toggler {
        display: block;
        cursor: pointer;
        background: none;
        color: rgba(255, 255, 255, 0.5);
        border-color: rgba(255, 255, 255, 0.1);
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border-radius: 0.25rem;
        outline: none;
      }
      .dropdown-menu {
        left: 7rem;
        right: 0;
        bottom: -6.5rem;
        font-size: 0.875rem;
        &__link {
          font-size: 0.875rem;
        }
      }
    }
  }
}
.form-control {
  .dropdown {
    .dropdown__item{
      &::after{
        display: none !important;
      }
    }
  }
  @include responsive($SM) {
    .form-control {
      margin-top: 1.5rem;
      .form-control__group {
        margin-top: 0;
        margin-left: 0rem;
        margin-right: 1rem;
        .btn {
          top: 0;
          left: 1rem;
        }
        .form-control__input {
          margin-left: -1rem;
        }
      }
    }
  }
}
@import "_body";
