-
  var theme = [
  {
    img: "app/img/nav-side-team.png",
    title: "team"
  },
  {
    img: "app/img/nav-side-team.png",
    title: "team"
  },
  {
    img: "app/img/nav-side-team.png",
    title: "team"
  },
  {
    img: "app/img/nav-side-team.png",
    title: "team"
  },
  {
    img: "app/img/nav-side-team.png",
    title: "team"
  },
  {
    img: "app/img/nav-side-team.png",
    title: "team"
  },
  ]
mixin theme()
 .col-md-6.theme-item
   a(href="#")
    each val in theme 
     img.theme-item__img(src= val.img, alt="")
     .content
       h4.theme-item__title= val.title