.section-main.js-section-main
 .container
  .row
   .project-template
    .project-template__symbol
     img.avatar(src="app/img/logo-color.svg" alt="")
     span.badge 1.0.1
    h2.project-template__title A project management template for Bootstrap 4
    p.project-template__content Pipeline is a collection of modular components and layouts for building project management and collaboration web apps.
    .project-template__shortlink
     ul.dropdown
      li.dropdown__item
       a.dropdown__link.js-showmenu(href="javascript:;") explore pages
       ul.dropdown__child.js-submenu
        li 
         a.dropdown__link(href="#") app pages
        li
         a.dropdown__link(href="#") utility pages
      li.dropdown__item
       a.dropdown__link.js-showmenu(href="javascript:;") view components
       ul.dropdown__child.js-submenu
        li 
         a.dropdown__link(href="#") bootstrap components
        li
         a.dropdown__link(href="#") pipeline components
   .project-pages
    .project-pages__carousel
     .carousel__item.js-slider1
      a(href="#"): img.img-fluid(src="app/img/nav-side-team.png")
     each val in ["app/img/nav-side-team.png","app/img/nav-side-project.png","app/img/nav-side-task.png","app/img/nav-side-kanban-board.png","app/img/nav-side-chat.png","app/img/nav-side-user.png"]
      .carousel__item.disable.js-slider1
       a(href="#"): img.img-fluid(src= val)
    i.project-pages__icons supervised_user_circle
    h3.project-pages__title.Project Management Pages
    p.project-pages__content Pipeline makes building project management interfaces simple with pages for teams, projects, tasks, kanban boards and more.
    ul.dropdown
     li.dropdown__item
      a.dropdown__link(href="#") app pages
     li.dropdown__item
      a.dropdown__link(href="#") utility pages		
 .modular-component
  .modular-component__carousel
   .carousel.side
    .carousel-inner
     .carousel__item.js-slider2
      a(href="#"): img.img-fluid(src="app/img/avatar.png")
      each val in ["app/img/card-kanban.png","app/img/avatar-list.png","app/img/activity.png","app/img/card-note.png"]
       .carousel__item.disable.js-slider2
        a(href="#"): img.img-fluid(src= val)
    .carousel-inner
     .carousel__item.js-slider3
      a(href="#"): img.img-fluid(src="app/img/avatar.png")
      each val in ["app/img/nav-side-chat.png","app/img/card-team.png","app/img/avatar-list.png","app/img/card-note.png"]
       .carousel__item.disable.js-slider3
        a(href="#"): img.img-fluid(src= val)
  i.modular-component__icons widgets
  h3.modular-component__title Modular Components
  p.modular-component__content Build feature-rich pages with everything Bootstrap 4.1.3 has to offer and extend functionality with Pipeline's suite of stylish custom components.
  ul.dropdown
   li.dropdown__item
    a.dropdown__link(href="#") pipeline component
   li.dropdown__item
    a.dropdown__link(href="#") bootstrap components
 .flexible-layouts
  .flexible-layouts__desc
   .col-4
    img.img-fluid(src="app/img/layout-nav-side.svg" alt="")
   .col-4
    img.img-fluid(src="app/img/layout-nav-top.svg" alt="")
   .col-4
    img.img-fluid(src="app/img/layout-nav-top.svg" alt="")
  i.flexible-layouts__icons view_quilt
  h3.flexible-layouts__title Flexible Layouts
  p.flexible-layouts__content Pipeline offers three distinct layouts to suit a variety of content types. Layouts are fully responsive and scale elegantally for different devices and screen sizes.
  .link-shortcut
   a(href="#") explore layouts
 .familiar-tooling
  .familiar-tooling__desc
   .col-3
    img.img-fluid(src="app/img/logo-bootstrap.svg" alt="")
   .col-3
    img.img-fluid(src="app/img/logo-gulp.svg" alt="")
   .col-3
    img.img-fluid(src="app/img/logo-sass.svg" alt="")
   .col-3  
    img.img-fluid(src="app/img/logo-npm.svg" alt="")
  i.familiar-tooling__icons build
  h3.familiar-tooling__title Familiar Tooling
  p.familiar-tooling__content Pipeline employs industry-standard development tools with an intuitive workflow designed to get you up and runnning faster.
  .link-shortcut
   a(href="#") view document

