-
	var sidebar = [
		{
			item: "overview",
		},
		{
			item: "pages",
			submenu: [
				{
					list: "app pages"
				},
				{
					list: "utility pages"
				},
				{
					list: "layouts"
				},
			]
		},
		{
			item: "component",
			submenu: [
				{
					list: "bootstrap"
				},
				{
					list: "pipeline"
				},
			]
		},
		{
			item: "documentation",
		},
		{
			item: "changelog",
		},
	];

mixin sidebar()
	.sidebar 
		.sidebar-item
			a.logo-page(href="#")
				h1
					img.logo-page__img(src="app/img/logo.svg")
		.sidebar-item
			ul.mainsidebar
				each val in sidebar
					li.main-sidebar__item
						a.main-sidebar__link.js-sidebarlink(href="#")= val.item
						if val.submenu
							ul.sub-menu.js-submenu
								each val1 in val.submenu
									li.main-sidebaar__item
										a.main-sidebar__link(href="#")= val1.list
		.sidebar-item
			ul.quicklinks
				li.quicklink__item.disable quicklinks
				li.quicklink__item 
					a.quicklink__link teamoverview
				li.quicklink__item 
					a.quicklink__link project
				li.quicklink__item 
					a.quicklink__link single task
				li.quicklink__item 
					a.quicklink__link kanban board
		.sidebar-item
			form.form-control(action="#")
				.form-input__group
					button.btn.btn-search(type="button")
						i.fas.fa-search
				input.form-control__input(type="text",placehoder="Search")
				button.btn.btn-select.js-btn-select
				ul.dropdown
					li.dropdown__item
						a.dropdown__link team
					li.dropdown__item
						a.dropdown__link project
					li.dropdown__item
						a.dropdown__link task
			.admin
				a.admin-media(href="#")
					img.admin-media__img(src="app/img/avatar-male-4.jpg" alt="")
				ul.dropdown-menu
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") profile
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") account settings
					li.dropdown-menu__item
						a.dropdown-menu__link(href="#") log out
+sidebar()